<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>MTE - Tests</title>
    <link href="{% static 'estilos/styles.css'%}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap">
</head>
<body>
<div id="contenedorPagina">
    <header>
        {% include 'inicial/navbar.html' %}
        {% block content %}
        {% endblock content %}
    </header>
    <aside id="aLaIzquierda">
    </aside>
    <section id="contenidoPrincipal">
      <h1>Test de Ingles</h1>
        <form method="post" action="{% url 'enviarTest' %}">
        {% csrf_token %}
        <table border="1" style="width:100%">
            <tr>
                <th>Palabra en Español</th>
                <th>Traducción en Inglés</th>
            </tr>
            {% for palabra in palabras %}
            <tr>
                <td>{{ palabra.PALABRA_ESPANOL }}</td>
                <td>
                    <input type="text" name="traduccion_{{ forloop.counter }}" required>
                    <input type="hidden" name="palabra_id_{{ forloop.counter }}" value="{{ palabra.PALABRA_INGLES }}">
                     <input type="hidden" name="trad_id_{{ forloop.counter }}" value="{{ palabra.ID_TRAD }}">
                </td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit">Enviar Test</button>
    </form>
    </section>
    <aside id="aLaDerecha">

    </aside>
    <footer id="piePagina">
        {% include 'inicial/footer.html' %}
        {% block content1 %}
        {% endblock content1 %}
    </footer>
</div>
</body>
</html>