<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'estilos/styles.css'%}" rel="stylesheet" type="text/css">
</head>
<style>
    #fcc-btn {
  background-color: #199319;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
</style>
<body>
<div id="contenedorPagina">
    <header>
        {% include 'inicial/navbar.html' %}
        {% block content %}
        {% endblock content %}
    </header>
    <aside id="aLaIzquierda">
    </aside>
    <section id="contenidoPrincipal">
        <h1>Hacer un for con una lista de los diccionarios de la base de datos</h1>
                <table border="1" style="width:100%">
        <tr>
            <th>DICCIONARIOS</th>

        </tr>
        {% for i in listado_diccionarios%}
            <tr>
                <td>{{i.TITULO}}</td>

            </tr>
       {% endfor%}
</table>
        <br><br>
    <a class="nav" style="background-color: #FF8459" href="{% url 'iraformularioDic' %}">Crear Nuevo Diccionario</a>
    </section>
    <aside id="aLaDerecha">

    </aside>
    <footer id="piePagina">
        {% include 'inicial/footer.html' %}
        {% block content1 %}
        {% endblock content1 %}
    </footer>
</div>
</body>
</html>