<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYE</title>
     <style>
        a {
            text-decoration: none;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'estilos/styles.css'%}">
    <!-- Enlace a Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap">
</head>

<body>
    <div class="container">
        <a href="a_Login"><img src="{% static 'imagenes/inicio02.png'%}" /></a>
        <a href="a_Login" class="link diccionarios">Accede a tus diccionarios</a>
        <a href="a_que_es_mye" class="link que-es-mye">¿Qué es myE?</a>
    </div>
</body>
</html>