<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<form method="post" action="cliente">
        {% csrf_token %}
    <center>
    <H1><B>FICHA DEL CLIENTE</B></H1>
       Email<input type="text" name="nombre" value="" />
       Contraseña<input type="text" name="apellido1" value="" />
       >
            <input type="SUBMIT" value="Registrar" />
            <input type="RESET" value="Borrar" />

   </center>
</form>

        </form>
    {% if resultado %}
             <H3>Alta realizada con éxito. Número de registros afectados:{{resultado}} </H3>
    {% endif %}