<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<form method="post" action="BotonUser">
        {% csrf_token %}
    <center>
    <H1><B>FICHA DEL CLIENTE</B></H1>
       Email<input type="text" name="txtemail" value="" /><br>
       Contraseña<input type="text" name="txtcontrasena" value="" /><br>

            <input type="SUBMIT" value="Enviar" />
        <a href="NuevoUser" >Crear nuevo usuario</a>

   </center>
</form>

        </form>
    {% if errorlogeo != True %}
             <H3>T'as equivocao </H3>
    {% endif %}

</body>
</html>