<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<form method="post" action="darAlta">
        {% csrf_token %}
    <center>
    <H1><B>ALTA DE USUARIO</B></H1>
        Nombre: <input type="text" name="nombre" value="" /><br>
        Apellido: <input type="text" name="apellido" value="" /><br>
        Email: <input type="email" name="email" value="" /><br>
        Password: <input type="text" name="password" value="" /><br>
        Rol:
        <select name="rol" id="rol">
            {% for results in datosRoles %}
            <option value="{{results}}">{{results}}</option>
            {% endfor %}
        </select>
        <br>
        <input type="SUBMIT" value="Registrar" />

   </center>
</form>

        </form>
    {% if resultado %}
             <H3>Alta realizada con éxito. Número de registros afectados:{{resultado}} </H3>
    {% endif %}
</body>
</html>