<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>MYE - Lista de Usuarios</title>
    <link href="{% static 'estilos/styles.css'%}" rel="stylesheet" type="text/css">
</head>
<style>
    #fcc-btn {
  background-color: #199319;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
</style>
<body>
<div id="contenedorPagina">
    <header>
        {% include 'inicial/navbar.html' %}
        {% block content %}
        {% endblock content %}
    </header>
    <aside id="aLaIzquierda">
    </aside>
    <section id="contenidoPrincipal">
        <h1>LISTA DE USUARIOS</h1>
        <table border="1" style="width:100%">
        <tr>
            <th>NOMBRE</th>
            <th>APELLIDOS</th>
            <th>EMAIL</th>
        </tr>
            {% for usr in listado_usuarios %}
            <tr>
                <td><{{usr.NOMBRE}}</td>
                <td><{{usr.APELLIDOS}}</td>
                <td><{{usr.EMAIL}}</td>
            </tr>
            {% endfor %}
        </table>
        <br><br>
      </section>
    <aside id="aLaDerecha">

    </aside>
    <footer id="piePagina">
        {% include 'inicial/footer.html' %}
        {% block content1 %}
        {% endblock content1 %}
    </footer>
</div>
</body>
</html>